<app-side-navigator-bar></app-side-navigator-bar>

<div class="container">
  

  <section class="cards">
    <h2 class="centered-text">Refrigeration Equipment</h2>
    <div class="card-grid">
      <div class="card" *ngFor="let card of cards">
        <img [src]="card.image" alt="Card image">
        <div class="card-info">
          <h3 style="font-size: 20px;" class="responsive-text">{{ card.title }}</h3>
          <p [ngStyle]="{'color': getTextColor(card.description)}" style="font-weight: bold; font-size: 1.5rem;">{{ card.description }}</p>
          <p style="font-weight: bold; font-size: 16px;" class="responsive-text">{{card.capacity}}</p>
        </div>
      </div>
    </div>
  </section>
</div>
